# Dependencies
node_modules

# Build outputs
coverage
dist

# VCS and editor artifacts
.git
.gitignore
.vscode
.idea

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS artifacts
.DS_Store
